<div>index_header</div>
<div>
  <!--page_component-->
  <div>
    <div>page_header</div>
    <div>index_header_slot</div>
    <div>header</div>
  </div>
  <div>
    <div>page_title_slot</div>
    <h1>hello</h1>
    <div>index_title_slot</div>
  </div>
  <div>
    <div>index_body_slot</div>
  </div>
  <div>
    <div>index_default_slot_top</div>
    <div>index_default_slot_bot</div>
  </div>
  <div>
    <div>
      <div>page_footer_default_slot</div>
      <div>index_footer_slot</div>
    </div>
  </div>
</div>
<div>index_footer</div>