<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="stefmachine/render unit test suite">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="stefmachine/render integration test suite">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>