<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="StefGodin/notmpl/render test suite">
            <directory>tests/Render</directory>
        </testsuite>
        <testsuite name="StefGodin/notmpl/escape test suite">
            <directory>tests/Escape</directory>
        </testsuite>
    </testsuites>
</phpunit>