<div>Before</div>
<div>
  <nav>
    <span attr="Page &lt;span attr=&quot;injection&quot;&gt;&lt;/span&gt;">Page <span attr="injection"></span></span>
    <div>
      <img src="/logo.png" alt="logo title">
      <h2>Logo subtitle</h2>
    </div>
    <span>Page &lt;span attr=&quot;injection&quot;&gt;&lt;/span&gt; NULL</span>
    <ul>
      <li>
        <a href="/">
          Home
          <strong>Home</strong>
        </a>
      </li>
      <li>
        <a href="/about">
          About
          <strong>About</strong>
        </a>
      </li>
      <li>
        <a href="/contact">
          Contact
          <strong>Contact</strong>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>FIRST!</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2</td>
        <td><span>Potato(2) : 1</span></td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td><span>Bread(3) : 2</span></td>
        <td>25</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Eggs</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>
<footer>Footer content</footer>