<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><span>Oreo</span>(1)</td>
      <td>25</td>
    </tr>
    <tr>
      <td>2</td>
      <td><span>Tomate</span>(2)</td>
      <td>12</td>
    </tr>
    <tr>
      <td>3</td>
      <td><span>Popcorn</span>(3)</td>
      <td>19</td>
    </tr>
    <tr>
      <td>4</td>
      <td><span>Patate</span>(4)</td>
      <td>66</td>
    </tr>
    <tr></tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>FIRST</td>
      <td>25</td>
    </tr>
    <tr>
      <td>2</td>
      <td><span>Tomate</span>(2)</td>
      <td>12</td>
    </tr>
    <tr>
      <td>3</td>
      <td><span>Popcorn</span>(3)</td>
      <td>19</td>
    </tr>
    <tr>
      <td>4</td>
      <td><span>Patate</span></td>
      <td>66</td>
    </tr>
    <tr></tr>
  </tbody>
</table>